
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-05 {
    gap: 0.5rem;
}

.align-items-center {
    align-items: center;
}

.w-full {
    width: 100%;
}

.mb-05{
    margin-bottom: 0.5rem;
}

.required::before {
    content: '*';
    color: red;
    margin-right: 5px;
}
.error-message {
    color: red;
    margin-top: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Arial, sans-serif; /* You can choose a different font */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    line-height: 1;
}

p-16 {
    padding: 16px
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
